  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* media queries */
  @media(max-width:1080px){
    
    html{
        font-size:55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }
}

@media (max-width:991px){
    html{
        font-size:55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:5rem;
    }
}
